<div class="jumbotron">
  <h2><%= t('job_types.jumbo.title') %></h2>
  <br>
  <p><%= raw(t('job_types.jumbo.message')) %></p>
  <br>
  <p><%= link_to t('job_types.jumbo.button'), new_job_type_path, class: 'btn btn-success btn-lg', role: 'button'  %></p>
</div>
