<div class="jumbotron">
  <h2><%= t('nodes.jumbo.title') %></h2>
  <br>
  <p><%= raw(t('nodes.jumbo.message')) %></p>
  <br>
  <p><%= link_to t('nodes.jumbo.button'), new_node_path, class: 'btn btn-success btn-lg', role: 'button'  %></p>
</div>
