<% if action_name == 'new' %>
<label>Running your node</label><br>
You can create a node using the same Ruby gem used to install and deploy this
server.<br><br>
Play with the command and check the options available with the help argument.
<p><pre>$> joaquin node run --help</pre></p>
<% end %>
