<div class="panel panel-default">
  <div class="panel-heading"><strong><%= t('nodes.summary.title') %></strong></div>
  <div class="panel-body">
    <% if @active_nodes.empty? %>
      <span class="label label-danger"><%= t('nodes.summary.placeholder') %></span>
    <% else %>
      Panel content
    <% end %>
  </div>
</div>
