<div class="panel panel-default">
  <div class="panel-heading"><%= t('jobs.summary.title') %></div>
  <div class="panel-body">
    <% if @jobs.empty? %>
      <span class="label label-danger"><%= t('jobs.summary.placeholder') %></span>
    <% else %>
      Panel content
    <% end %>
  </div>
</div>
